<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualiza tus Datos</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: flex;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1>Actualiza tus Datos</h1>
                <!-- Div para mostrar mensaje -->
                <div id="mensaje"></div>
                <!-- Formulario -->
                <form id="formulario" action="/alumnos" method="put">
                    <!-- Matricula -->
                    <div class="mb-3">
                        <input id="matr" name="matr" class="form-control" type="text" placeholder="Matricula" aria-label=".form-control-sm example" required>
                    </div>
                    <!-- Nombre -->
                    <div class="mb-3">
                        <input id="nom" name="nom" class="form-control" type="text" placeholder="Nombre" aria-label=".form-control-sm example" required>
                    </div>
                    <!-- Apellido paterno -->
                    <div class="mb-3">
                        <input id="apat" name="apat" class="form-control" type="text" placeholder="Apellido paterno" aria-label=".form-control-sm example" required>
                    </div>
                    <!-- Apellido materno -->
                    <div class="mb-3">
                        <input id="amat" name="amat" class="form-control" type="text" placeholder="Apellido materno" aria-label=".form-control-sm example" required>
                    </div>
                    <!-- Carrera -->
                    <div class="mb-3">
                        <select id="carr" name="carr" class="form-select" aria-label="Default select example" required>
                            <option selected disabled value="">Carrera</option>
                            <option value="ISC">ISC</option>
                            <option value="IME">IME</option>
                            <option value="ISA">ISA</option>
                            <option value="IIS">IIS</option>
                        </select>
                    </div>
                    <!-- Botón Actualizar -->
                    <div class="mb-3">
                        <button id="btn-actualizar" type="button" class="btn btn-primary" onclick="enviarFormulario()" disabled>Actualizar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Script de Bootstrap -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Script de Funcionalidad -->
    <script>
        // Función para verificar si todos los campos están llenos y habilitar o inhabilitar el botón de actualizar en consecuencia
        function verificarCampos() {
            var matricula = document.getElementById("matr").value;
            var nombre = document.getElementById("nom").value;
            var apPaterno = document.getElementById("apat").value;
            // var apMaterno = document.getElementById("amat").value;
            var carrera = document.getElementById("carr").value;
            
            var btnActualizar = document.getElementById("btn-actualizar");

            // Verificar si todos los campos están llenos
            if (matricula && nombre && apPaterno && carrera) {
                // Habilitar el botón de actualizar si todos los campos están llenos
                btnActualizar.disabled = false;
            } else {
                // Inhabilitar el botón de actualizar si algún campo está vacío
                btnActualizar.disabled = true;
            }
        }

        // Agregar eventos de cambio a los campos para llamar a la función verificarCampos
        document.getElementById("matr").addEventListener("input", verificarCampos);
        document.getElementById("nom").addEventListener("input", verificarCampos);
        document.getElementById("apat").addEventListener("input", verificarCampos);
        // document.getElementById("amat").addEventListener("input", verificarCampos);
        document.getElementById("carr").addEventListener("change", verificarCampos);

        // Función para enviar el formulario al servidor
        function enviarFormulario() {
            // Obtener los valores de los campos de entrada
            var matricula = document.getElementById("matr").value;
            var nombre = document.getElementById("nom").value;
            var apPaterno = document.getElementById("apat").value;
            var apMaterno = document.getElementById("amat").value;
            var carrera = document.getElementById("carr").value;
            
            // Crear un objeto con los datos del alumno
            var datosAlumno = {
                matr: matricula,
                nom: nombre,
                apat: apPaterno,
                amat: apMaterno,
                carrera: carrera
            };

            // Realizar una solicitud PUT al servidor
            fetch('/alumnos', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(datosAlumno)
            })
            .then(response => {
                if (response.ok) {
                    // Mostrar un mensaje de éxito
                    alert("Los datos se han actualizado correctamente");
                    // Redireccionar al usuario a la página de ver alumnos
                    window.location.href = '/verAlumnos.html';
                } else {
                    // Si la respuesta no es exitosa, lanzar un error
                    throw new Error('Error al actualizar los datos');
                }
            })
            .catch(error => {
                // Manejar el error mostrando un mensaje de alerta
                console.error('Error:', error);
                alert("Hubo un error al actualizar los datos");
            });
        }
    </script>
</body>
</html>
